@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bayon";
    src: url("./assets/font/Bayon/Bayon-Regular.ttf") format("truetype");
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: normal;
  }
}


